footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #344e41;
}
footer .footerwrap {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    padding: 10px 0;
}
footer .footerwrap ul li a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    line-height: 250%;
}
.entity {
    font-size: 12px;
    line-height: 250%;
    color: white;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, .8);
}
.entityName, .phone, .email {
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
}
.socialmedia ul {
    display: flex;
    justify-content: flex-start;
}
.socialmedia ul li {
    margin-right: 10px;
}
.socialmedia ul li img {
    width: 30px;
    height: 30px;
}
.mapPic {
    aspect-ratio: 400/200;
}
.mapPic iframe {
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.copyright {
    width: 100%;
    color: white;
    font-size: 12px;
    line-height: 200%;
    text-align: center;
    padding-top: 10px;
    margin: 10px 0;
    border-top: 1px solid #ccc;
}